[submodule "modules/myql"]
  path = modules/mysql
  url  = git://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "modules/java"]
	path = modules/java
	url = git://github.com/puppetlabs/puppetlabs-java.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = git://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib.git
